*{
    box-sizing: border-box;
}

:root{
    --green:#3BED1E;
    --pink:#FF3A90;
}

.profile-container{
    min-height: 91vh;
    width:100%;
    margin: 0;
    padding: 0;
    position: relative;
}

@media (max-height: 30rem) and (max-width: 500px) {
.profile-container{
  min-height:210vh;
  justify-content: space-between;
}
}


.container-column{
    height: 80vh;
}


.username-container img:nth-child(1){
    border-radius: 50%;
    object-fit: contain;
    height: 100px;
    border:1.5px solid black
}

.username-container img:nth-child(3){
    height: 50px;

}

.username-container h1{
    font-size: 30px;
}

.user-comments form button:hover{
  background-color: #89e17b;
}


.user-comments textarea{
    background-color: #D9D9D9;
    border:none;
    border-radius: 10px;
    padding: 10px;
    resize:none
}

.select-container{
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.calificacion-container{
    max-height:90%;
}

.calificacion-container::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .calificacion-container::-webkit-scrollbar:vertical {
    width: 10px;
  }
  
  .calificacion-container::-webkit-scrollbar-button:increment,
  .calificacion-container::-webkit-scrollbar-button {
    display: none;
  }
  
  .calificacion-container::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  .calificacion-container::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }
  
  .calificacion-container::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  .rating{
    align-items: center;
  }

.item-container{ 
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #FF3A90;
    padding-top: .9375rem;
    padding-bottom: 1.7rem;
    color: white;
    border-radius: 20px;
}

.item-container button{
    position: absolute;
    right: 18px;
    bottom: 10px;
    color: black;
    background-color: var(--green);
    padding: .3125rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 20px;
    font-weight: bold;
}


  .userdata-rating img{
    border-radius: 50%;
    object-fit: contain;
    height: 45px;
    margin-right:0.625rem;
    border: 1px solid var(--green)
  }