@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --green:#3BED1E;
    --pink:#FF3A90;
    --dark-pink:#A00A4C;
    --font-raleway: 'Raleway', sans-serif;
}

.choose_trip_container{
    height: 91vh;
    width:100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: hidden;
    font-family: var(--font-raleway);
    display: flex;
    flex-direction: row;
}

.column_one{
    display:flex;
    flex-direction: column;
    width: 33%;
    align-items: center;

}

.column_one span{
    color: var(--pink);
    font-weight: bold;
}

.list{
width: 50%;
}

.list div{
}

.column_two{
}

.choose_item_container{
    margin: .9375rem;
    margin-bottom: 1rem;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    height: 14rem;
    background-color: var(--pink);
    padding-left: 1rem;
}

.column_one_item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.choose_item_container .trip-container{
    height:70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
    background-color: white;
}

.column_two_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
}
.column_one_item ul{
    width: 60%;
}


.column_two_item img{
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.column_two_item span{
    font-size: small;
}

.column_two_item button{
    background-color:var(--green);
    padding: 4px 18px 4px 18px;
    border-radius: 1.25rem;
    align-self: flex-end;
}

.column_two_item button a{
    text-decoration:none;
    color: black;
}

@media (max-width:800px){
    .choose_trip_container{
        flex-direction: column;
        width: 100vw;
    }

    .column_one{
        width: 100%;
    }

    .column_two{
        width: 100%;
    }
}

.selected_trip_container{
    height: 91vh;
    width:100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: hidden;
    font-family: var(--font-raleway);
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}

.selected_trip_container .container_row_one{
    border: 3px solid green;
}


.selected_trip_container .container_row_one .column_one{
    border: 3px solid green;
    width:50%;
    display: flex;
    justify-content: center;
}

.selected_trip_container .container_row_one .column_one .user_info img{
 height: 60px;
 border-radius: 50%;
 object-fit: cover;
}

.selected_trip_container .container_row_one .column_one .user_info {
    display: flex;
  justify-content: center;
   }
   
   

.selected_trip_container .container_row_one .column_two{
    border: 3px solid green;
    width: 50%;
}

.selected_trip_container .container_row_one .column_two .available{
    border: 3px solid rgb(255, 219, 89);
    align-items: center;
    display: flex;
    justify-content: space-around;
    text-align:center;
    align-items: center;
    align-content: center;
}

.selected_trip_container .container_row_two .column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--pink);
}


.selected_trip_container .container_row_two{
    border: 3px solid rgb(219, 71, 219);
    display: flex;
    flex-direction: row;
}

.selected_trip_container button{
    border: 2px solid brown;
    align-self: flex-end;
    margin-right: 3rem;
    margin-top: .9375rem;
    padding: .3125rem 1rem 0.3125rem 1rem;
    border-radius: 1rem;
    background-color: var(--green);
}

.selected_trip_container button a{
    text-decoration: none;
    color: black;
}

.passengers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.booked_trip_container{
    height: 80%;
    width: 90%;
    border-radius: 1.25rem;
    padding: 0.8rem;
    position: relative;
    display: flex;
    background-color: white;
}

.booked_trip_container .division_one{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.booked_trip_container .division_two{
    border: 2px solid green;
    max-height: 100%;
    overflow-y: auto;
}


.booked_trip_container .amount{
    border: 2px solid red;
    width: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -3.4375rem;
    right: 30%;
}

.booked_trip_container .amount .price{
    border:2px solid black;
    border-radius: 50%;
    height: 4.375rem;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0.625rem;
    background-color: white;
    color: var(--dark-pink);
    font-weight:bold;
}

.car_info_container{
    border:2px solid blue;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0;
    background-color: var(--dark-pink);
    color: white;
    width: 90%;
    position: relative;
    border-radius: 0.9375rem;
}

.car_info_container img{
margin-left: 0.625rem;
}

.car_info_container button{
    position: absolute;
    right: 0px;
    margin: 0;
    margin-bottom: 0.2rem;
    margin-right: 0.18rem;
    font-size: .625rem;
    background-color: #f3f3f3;
    color: black;
    font-weight: bold;
}

.booked_trip_container ul{
    list-style-type: none;
}



.division_two::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .division_two::-webkit-scrollbar:vertical {
    width: 10px;
  }
  
  .division_two::-webkit-scrollbar-button:increment,
  .division_two::-webkit-scrollbar-button {
    display: none;
  }
  
  .division_two::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  .division_two::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }
  
  .division_two::-webkit-scrollbar-track {
    border-radius: 10px;
  }